<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog Site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:replace="/fragments/styles :: head-styles"/>
</head>

<body>
<div class="container">
    <h1>Welcome to Our Blog Post Site!</h1>
    <h3>Check out our blogs!</h3>
    <a th:href="@{/blogposts/new}">
        <button class="btn btn-primary">Submit a New Blog Post</button>
    </a>
    <div class="row">
        <div th:each="blog:${posts}">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p th:text="${blog.title}"/>
                    </div>
                    <div class="panel-body">
                        <p th:text="${blog.author}"/>
                        <p th:text="${blog.blogEntry}"/>
                    </div>
                    <div class="panel-footer">
                        <!-- Link to Update -->
                        <!-- Link to Show  -->
                        <!--  Link to Destroy -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:replace="/fragments/styles :: scripts"></div>
</body>

</html>